<div class="ui segment" style="overflow-x: auto;">
    <h4 class="ui dividing header">{{ 'sylius_stripe_payment_plugin.ui.subscription.orders'|trans }}</h4>
    {% include '@SyliusStripePaymentPlugin/Admin/Subscription/Show/_orders.html.twig' %}
</div>
