<div class="ui segment" style="overflow-x: auto;">
    <h4 class="ui dividing header">{{ 'sylius_stripe_payment_plugin.ui.subscription.schedule.block_name'|trans }}</h4>
    {% include '@SyliusStripePaymentPlugin/Admin/Subscription/Show/_subscriptionSchedule.html.twig' %}
</div>
